<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to canonical url">
                    <match url="^$" >
                        <conditions>
                        <!-- Check whether the requested domain is in canonical form -->
                            <add input="{HTTP_HOST}" type="Pattern" pattern="^purchasehelper.azurewebsites.net$"> 
                        </conditions>
                    <!-- Redirect to canonical url and convert URL path to lowercase -->
                    <action type="Redirect" url="http://purchasehelper.azurewebsites.net/index.html" RedirectType="Found"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>